* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 20px;
}

.viewer {
  width: 100%;
  max-width: 1000px;
  height: 70vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 20px -5px #0000002e;
}

.download {
  margin: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  background: #1881c3;
  color: white;
  cursor: pointer;
  box-shadow: 0 3px 10px 0px #00000069;
  transition: all .3s ease;
}

.download:hover {
  background: #0b4d77;
}

.previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  gap: 10px;
}

.previews model-viewer {
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.previews model-viewer:hover {
  background-color: rgb(215, 215, 215);
}
